article {
    display: flex;
    width: 20%;
    height: 80%;
    border: solid;
    border-color: #edf0f1;
    border-radius: 50px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    
}

section .titleCard {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 54px;
    color: #edf0f1;
    text-align: center;
    padding: 1px;
}

section .buttonCard {
    margin: 60px;
    width: 50%;
    height: 12%;
    padding: 5% 10%;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 3s;
}

section img {
    width: 50%;
    height: 120px;
}
   