button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 100%;
    text-decoration: none;
    border: 3px solid lightblue;
    border-radius: 30px;
    width: 10%;
    background-color: blanchedalmond;
    color: black;
    cursor: pointer;
}